.displayGrid{
 display: flex;
 flex-direction: row;
 justify-content: center;
 flex-wrap: wrap;
 margin: 20px;
}

.displayKnockout {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 20px;
}
