.parentDiv {
  width: auto;
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-items: center;
}

@media screen and (max-width: 700px) {
  .parentDiv {
    width: inherit;
  }
}
.paperContainer {
  width: 75%;
}

.root {
  margin-top: 5%;
}