.wrapper {
  width: 70%;
  height: calc(100vh - 160px);
  background-color: white;
  border: 2px solid white;
  box-sizing: border-box;
  margin: 40px;
  overflow: hidden;
  border-radius: 2px;
  min-height: 240px;
  float: left;
}
