body,
html {
  height: 100%;
  margin: 0 auto;
  text-align: center
}

#bg {
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('./images/bgcover.jpg');
  background-size: cover;
  position: fixed;
  z-index: -1;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}